<div class="app-bar">
  <div class="left">
    <span>{{user.classInfo.name}}: 
      <a target="_blank" class="app-bar-link"
          href="http://www.yy.com/{{user.classInfo.class_room}}">
        {{user.classInfo.class_room}}
      </a>
    </span>
  </div>
  <search-bar class="left" ng-if="admining"></search-bar>
  <div class="right">
    <a ng-if="admining" class="app-bar-link" href="index.html">学员页面</a>
    <a ng-if="isAdmin() && !admining" class="app-bar-link" href="admin.html">管理页面</a>
    <span>{{user.name}}</span>
    <a class="app-bar-link" href="cgi-bin/logout.php">Logout</a> 
  </div>
</div>
