<div class="app-bar">
  <div class="left">
    <span>{{user.classInfo.name}}: 
      <a target="_blank" class="app-bar-link"
          href="http://www.yy.com/{{user.classInfo.class_room}}">
        {{user.classInfo.class_room}}
      </a>
    </span>
  </div>
  <search-bar class="left" ng-if="admining && isSysAdmin()"></search-bar>
  <div class="right">
    <a ng-if="admining" class="app-bar-link" href="index.html">学员页面</a>
    <a ng-if="isSysAdmin() && admining" class="app-bar-link" href="local.html">地方组</a>
    <a ng-if="isAdmin() && !admining" class="app-bar-link" href="admin.html">管理页面</a>
    <span>{{user.name}}</span>
    <a class="app-bar-link" href="cgi-bin/logout.php">Logout</a>
    <a ng-if="admining" class="app-bar-link" target="_blank"
        href="https://docs.google.com/document/d/1e7mWOgREGt8VPq3m6lgsaullV43IY4sgZ1a2KvQf4ME/edit?usp=sharing">
      FAQ
    </a>
  </div>
</div>
