<div class="css-table">
  <div class="css-table-row">
  <label class="css-table-cell" ng-if="year">订单年份：
    <select ng-options="value for value in years" ng-model="year"
        ng-change="reload()"></select>
  </label>
  <label class="css-table-cell" ng-show="orders.length">输入订单号过滤：
    <input ng-model="orderId" list="order-ids">
    <datalist id="order-ids">
      <option ng-repeat="id in orderIds" value="{{id}}"></option>
    </datalist>
  </label>
  <label class="css-table-cell" ng-show="orders.length">输入电话过滤：
    <input ng-model="tel" list="phones">
    <datalist id="phones">
      <option ng-repeat="phone in phones" value="{{phone}}"></option>
    </datalist>
  </label>
  </div>
</div>
<div ng-repeat="order in orders | filter: {id: orderId, phone: tel}" class="section">
  <order-details order="order" editable="admin && order.status != 3"
      on-cancel="remove(order)" on-update="update(order)">
  </order-details>
</div>
