<h1>所有书单</h1>
<select ng-options="departments[id].name for id in depIds" 
    ng-model="currentDep.id">
</select>
<div ng-repeat="list in booklists[currentDep.id]" ng-click="selected = list">
  第{{list.term}}学期书单
</div>
<input type="button" value="添加新书单" ng-click="addBookList()">
<book-list-details ng-if="selected" book-list="selected"></book-list-details>
<hr>
<h1>为班级指定学期</h1>
<select ng-options="year for year in years" ng-model="currentClass.year"
    ng-change="yearChanged()">
</select>
<div class="css-table odd-even">
  <div class="header css-table-row">
    <div class="css-table-cell">班级</div>
    <div class="css-table-cell">科系</div>
    <div class="css-table-cell">学期</div>
  </div>
  <div ng-repeat="classInfo in classes" class="css-table-row">
    <div class="css-table-cell">{{classInfo.name}}</div>
    <div class="css-table-cell">
      {{departments[classInfo.department_id].name}}
    </div>
    <div class="css-table-cell">
      <editable-label value="classInfo.term" type="number"
          on-change="updateClassTerm(classInfo)">
      </editable-label>
    </div>
  </div>
</div>
