<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css?tag=201603081154">
<title>学修管理</title>
<script src="bower_components/webcomponentsjs/webcomponents-lite.min.js">
</script>
<link rel="import" href="bower_components/iron-icon/iron-icon.html"/>
<link rel="import" href="bower_components/iron-icons/av-icons.html"/>
<link rel="import" href="bower_components/iron-icons/iron-icons.html"/>
<link rel="import" href="bower_components/iron-icons/notification-icons.html"/>
<link rel="import" href="bower_components/iron-pages/iron-pages.html"/>
<link rel="import" href="bower_components/paper-tabs/paper-tabs.html"/>
</head>

<body class="center admin">

<app-bar user="user" admining="true"></app-bar>
<div class="flex">
  <classes class="class-list" list-type="list" class-id="classId"></classes>
  
  <div class="right-pannel">
    <paper-tabs noink selected="0">
      <paper-tab>班级信息</paper-tab>
      <paper-tab>学修安排</paper-tab>
      <paper-tab>考勤</paper-tab>
      <paper-tab>学修记录</paper-tab>
      <paper-tab>任务进度</paper-tab>
    </paper-tabs>
    
    <iron-pages selected="0">
      <div>
        <class-info class-id="classId"></class-info>
      </div>
      <div>
        <schedule-editor ng-if="pageLoaded[1]" class-id="classId"></schedule-editor>
      </div>
      <div>
        <learning-records ng-if="pageLoaded[2]" class-id="classId" attendence="true">
        </learning-records>
      </div>
      <div>
        <learning-records ng-if="pageLoaded[3]" class-id="classId"></learning-records>
      </div>
      <div>
        <task-stats ng-if="pageLoaded[4]" class-id="{{classId}}" admining="true"></task-stats>
      </div>
    </iron-pages>
  </div>
</div>

<div>
  <course-editor-dialog></course-editor-dialog>
  <department-editor-dialog></department-editor-dialog>
  <task-editor-dialog></task-editor-dialog>
  <zb-choose-root-dialog></zb-choose-root-dialog>
  <zb-login-dialog></zb-login-dialog>
</div>

<script type="text/javascript" src="admin.js?tag=201610011800"></script>

</body>

</html>
