body {
  background: rgb(241, 241, 241);
  font-family: arial,sans-serif;
  font-size: 14px;
  width: 1280px;
  overflow-x: scroll;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.padded-element {
  padding: 16px;
}

.app-bar {
  background-color: #860200;
  color: white;
  height: 40px;
  width: 100%;
  font-size: 80%;
}

a.app-bar-link {
  color: white;
}

div.page-container {
  background: transparent;
  width: 920px;  
}

div.login-page {
  background: transparent;
  width: 400px;  
}

tasks {
  padding-top: 40px;
}

.white {
  background: white;  
}

.vmargin {
  margin: 16px 0;
}

.section {
  background: white;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 4px;
  margin: 16px;
  max-height: 980px;
  overflow: scroll;
}

.css-table {
  display: table;
}

.css-table.odd-even > div:nth-child(odd) {
  background-color: #CCC;
}

.css-table-row {
  display: table-row;
  padding: 4px 0;
}

.css-table-row.selected {
  background-color: blue !important;
}

.header {
  background-color: gray !important;
  color: white;
}

.css-table > .header {
  height: 40px;
}

.css-table-cell {
  display: table-cell;
  padding: 4px 8px;
}

.left {
  float: left;
}

.right {
  float: right;  
}

.left-line {
  border-left: 1px solid;  
}

.section-header {
  height: 30px;  
}

.count-input {
  width: 80px;
}

input {
  font-size: 80%;  
}

input[type="button"]:enabled,
input[type="submit"]:enabled {
  color: blue;
}

.hidden {
  display: none;
}

tasks {
  width: 200px;  
}

schedule-tasks {
  width: 630px;
}

.register-form,
.login-form {
  width: 400px;
}

.register-form input.css-table-cell,
.login-form input.css-table-cell {
  width: 200px;
  margin: 4px 0;
}

.vacation {
  background-color: #860200 !important;
  color: white;  
}

.selectable {
  cursor: pointer;
}

.selected {
  background-color: gray;
  color: white;
}

.schedule-tasks {
  background: white;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 4px;
  width: 800px;
}

hr {
  width: 100%;
}

.user-info {
  background: white;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 4px;
  margin: 16px;
  width: 400px;
}

.user-info-editor {
  background: white;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
  width: 300px;
}

.user-container {
  flex-wrap: wrap;
}

select#state {
	width: 140px;
}

.separator {
  border-right: 1px solid white;
  display: inline;
  height: 10px;  
  margin: 0 4px;
}

.inline {
  display: inline-block;
}

.name-field {
  width: 60px;
  display: block;
}

.learning-groups {
  height: 1000px;
  overflow: scroll;
  width: 1000px;
}

classes {
  align-self: stretch;
	background: white;
  height: 100%;
}

.class-name.selected {
	margin: 0 -16px;
}

.right-panel {
	width: 1000px;
}

paper-tabs {
	width: 1000px;
}

.flex {
	display: flex;
}

.admin-page {
	height: 1100px;
	overflow-y: scroll;
}

.task {
  background: white;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 4px;
  padding-bottom: 16px;
}

iron-icon.small-icon {
	width: 16px;
	height: 16px;
}

.class-list {
	width: 200px;
}

.search-box {
	margin-left: 100px;
	width: 300px;
}

.import-analysis {
  max-height: 300px;
  overflow: scroll;
  padding: 16px;
  max-width: 1280px;
}

.preview-section {
  max-height: 500px;
  overflow: scroll;
  padding: 16px;
  max-width: 1280px;
}

paper-dialog {
  overflow: auto;
  padding: 16px;
}

paper-dialog#analysis,
paper-dialog#preview {
  height: 800px;
	width: 1280px;
}

.css-table-cell.compact {
  max-width: 150px;
  overflow: hidden; 
  padding: 0 2px;
  text-overflow: ellipsis;
}

.diff-modified {
	background: red;
}

.diff-added {
	background: green;
}

.preview-progress {
	width: 1100px;
}

.legend {
	width: 100px;
	padding: 0 16px;
}

.old-data {
  text-decoration: line-through;	
}

paper-dialog > * {
  margin-top: 0;	
}

iron-icon[icon="icons:done"] {
	color: green;
}

iron-icon[icon="icons:error"] {
	color: red;
}

paper-progress.task-progress {
	width: 100%;
}
