html, body {
  background-color: #CFD8DC;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 0;
}

material-button[affirmative] {
  background-color: #1a73e8;
  color: #FFF;
}

material-button.link {
  color: #1a73e8;
}

.main {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 40px;
}

.padded-element {
  padding: 8px 16px;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background-color: lightgrey;
}

.selected {
  background-color: lightblue;
  border-left: solid 2px green;
}

.selected.padded-element {
  padding-left: 14px;
}

.field material-input {
  width: 100%;
}

.selectable .hover-button {
  visibility: hidden;
}

.selectable:hover .hover-button {
  visibility: visible;
}

table {
  border-spacing: 0;
}

.pass {
  background-color: green;
}

.error {
  background-color: red;
}

.warning {
  background-color: yellow;
}

table {
  margin: 16px;
}

.done {
  background-color: darkcyan;
}
