<div class="padded-element">
  <districts editable="true" user="inventory" on-change="reloadInventory()"
      stock="true">
  </districts>
  <label>输入名字查找: <input type="text" ng-model="namePrefix"></label>
  <label>输入库存查找: <input type="text" ng-model="stockFilter"></label>
</div>
<div class="flex">
  <div class="css-table odd-even">
    <div class="css-table-row header">
      <div class="css-table-cell">名称</div>
      <div class="css-table-cell">价格</div>
      <div class="css-table-cell">运费</div>
      <div class="css-table-cell">库存</div>
      <div class="css-table-cell"></div>
    </div>
    <div ng-repeat="item in items | filter: {
          name: namePrefix,
          stock: stockFilter
        } | orderBy: 'stock'"
        class="css-table-row deletable selectable"
        ng-click="selected.editingBook = item">
      <div class="css-table-cell item-name">{{item.name}}</div>
      <div class="css-table-cell">${{item.price.toFixed(2)}}</div>
      <div class="css-table-cell">${{item.shipping.toFixed(2)}}</div>
      <div class="css-table-cell">{{item.stock}}</div>
      <div class="css-table-cell">
        <iron-icon icon="add" class="delete-button"
            ng-click="addToCart(item)" title="添加库存...">
        </iron-icon>
        <iron-icon icon="delete" class="delete-button"
            ng-click="remove(item)" title="删除...">
        </iron-icon>
      </div>
    </div>
  </div>
  <shopping-cart cart="cart" user="user" refill="true"></shopping-cart>
  <book-editor ng-if="selected.editingBook && !cart.size"
      book="selected.editingBook" items="items" categories="categories"
      on-cancel="selected.editingBook = null">
  </book-editor>
</div>
<hr>
<orders user="user" admin="true" status="8" year="year">
</orders>
