<h1 ng-if="!collapsed">概况</h1>
<div class="collapse-button">
  <iron-icon icon="{{collapsed ? 'chevron-left' : 'chevron-right'}}"
      class="clickable" ng-click="toggleCollapsed()">
  </iron-icon>
</div>
<div class="css-table" ng-if="!collapsed">
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">名称</div>
    <div class="css-table-cell">
      <paper-input ng-model="election.name" no-label-float
          ng-change="markDirty()" ng-disabled="!editable || !election"
          laceholder="输入投票活动名称（例如：地方理事会选举）...">
      </paper-input>
    </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">简介</div>
    <div class="css-table-cell">
      <paper-input ng-model="election.description" no-label-float
          ng-change="markDirty()" ng-disabled="!editable || !election">
      </paper-input>
    </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">每人可投票数</div>
      <div class="css-table-cell">
        <paper-input ng-model="election.max_vote" no-label-float
            ng-change="markDirty()" ng-disabled="!editable || !election">
        </paper-input>
      </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">允许跨区投票</div>
    <div class="css-table-cell">
      <input ng-model="election.global" type="checkbox"
          ng-change="markDirty()" ng-disabled="!editable || !election">
    </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">开始日期(凌晨EST)</div>
    <div class="css-table-cell attribute-value">
      <input type="date" ng-model="election.start_time" date
          ng-change="validate()" ng-disabled="!editable || !election">
    </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">结束日期(半夜EST)</div>
    <div class="css-table-cell attribute-value">
        <input type="date" ng-model="election.end_time" date
            ng-change="validate()" ng-disabled="!editable || !election">
    </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">负责人</div>
    <div class="css-table-cell attribute-value">
      <paper-auto-suggest-input key="election.organizer"
          on-change="markDirty()"
          search="searchUser"
          label="userInput"
          editable="isVoteOwner() && editable && election">
      </paper-auto-suggest-input>
    </div>
  </div>
</div>
<div class="buttons" ng-if="editable && !collapsed">
  <span class="error">{{message}}</span>
  <paper-button ng-click="onCancel()" raised ng-disabled="!dirty">
    取消
  </paper-button>
  <paper-button ng-click="onSave()" class="primary-action" raised
      ng-disabled="!dirty">
    保存
  </paper-button>
</div>

<div ng-if="editable && !collapsed && stats">
  <h1>统计</h1>
  <div class="css-table">
    <div class="css-table-row">
      <div class="css-table-cell attribute-label">地区</div>
      <div class="css-table-cell" ng-switch="!!election.district">
        {{districtNames}}
      </div>
    </div>
    <div class="css-table-row">
      <div class="css-table-cell attribute-label">候选人总数</div>
      <div class="css-table-cell">{{stats.candidates}}</div>
    </div>
    <div class="css-table-row">
      <div class="css-table-cell attribute-label">选民总数（投票/弃权/未响应）</div>
      <div class="css-table-cell">
        {{stats.total}}({{stats.voter}}/{{stats.waiver}}/{{stats.unresponded}})
      </div>
    </div>
    <div class="css-table-row">
      <div class="css-table-cell attribute-label">投票/选民总数，(投票+弃权数)/总数</div>
      <div class="css-table-cell">{{stats.ratio}}，{{stats.effectiveRatio}}</div>
    </div>
    <div class="css-table-row">
      <div class="css-table-cell attribute-label">总票数(邮件/网络)</div>
      <div class="css-table-cell">{{stats.votes}}({{stats.email}}/{{stats.web}})</div>
    </div>
  </div>
</div>
