<h1 ng-if="!collapsed">概况</h1>
<div class="collapse-button">
  <iron-icon icon="{{collapsed ? 'chevron-left' : 'chevron-right'}}"
      class="clickable" ng-click="toggleCollapsed()">
  </iron-icon>
</div>
<div class="css-table" ng-if="!collapsed">
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">名称</div>
    <div class="css-table-cell">
      <paper-input ng-model="election.name" no-label-float
          ng-change="markDirty()" ng-disabled="!editable || !election"
          laceholder="输入投票活动名称（例如：地方理事会选举）...">
      </paper-input>
    </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">简介</div>
    <div class="css-table-cell">
      <paper-input ng-model="election.description" no-label-float
          ng-change="markDirty()" ng-disabled="!editable || !election">
      </paper-input>
    </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">每人可投票数</div>
      <div class="css-table-cell">
        <paper-input ng-model="election.max_vote" no-label-float
            ng-change="markDirty()" ng-disabled="!editable || !election">
        </paper-input>
      </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">开始日期(凌晨)</div>
    <div class="css-table-cell attribute-value">
      <input type="date" ng-model="election.start_time" time
          ng-change="validate()" ng-disabled="!editable || !election">
    </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">结束日期(半夜)</div>
    <div class="css-table-cell attribute-value">
        <input type="date" ng-model="election.end_time" time
            ng-change="validate()" ng-disabled="!editable || !election">
    </div>
  </div>
  <div class="css-table-row">
    <div class="css-table-cell attribute-label">负责人</div>
    <div class="css-table-cell attribute-value">
      <paper-user-input user-id="election.organizer" on-change="onChange()"
          editable="isVoteOwner() && editable && election">
      </paper-user-input>
    </div>
  </div>
</div>
<div class="buttons" ng-if="editable">
  <span class="error">{{message}}</span>
  <paper-button ng-click="onCancel()" raised ng-disabled="!dirty">
    取消
  </paper-button>
  <paper-button ng-click="onSave()" class="primary-action" raised
      ng-disabled="!dirty">
    保存
  </paper-button>
</div>
