<link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<iron-icon class="selectable small-icon" icon="notification:sync" title="上报学院"
    ng-click="sync()" ng-class="{'in-progress': inprogress()}">
</iron-icon>
<a href="{{zbUrl}}" target="_blank" title="打开智悲系统页面">
  <iron-icon class="selectable small-icon" icon="open-in-new">
	</iron-icon>
</a>
<span ng-if="inprogress()">{{statusText}}</span>
<progress-bar ng-show="inprogress()" max="{{totalTasks()}}" value="{{finished}}">
</progress-bar>
<paper-dialog id="zb-login">
  <h2>登录智悲系统</h2>
  <paper-input id="zb-username" label="用户名" type="text" value="zhibeihw1"></paper-input>
  <paper-input id="zb-password" label="密码" type="password"></paper-input>
  <paper-input id="zb-editpassword" label="编辑密码" type="password"></paper-input>
  <paper-button dialog-dismiss raised autofocus>Cancel</paper-button>
  <paper-button dialog-confirm raised autofocus>Login</paper-button>
  <paper-button ng-click="login()"></paper-button>
  <!-- Do not remove the above empty button. It seems when we click on this dialog
  it always clicks to the next widget... don't know why-->
</paper-dialog>
