<div ng-repeat="group in schedules_groups">
	<div class="css-table odd-even padded-element">
		<div class="css-table-row header">
			<div ng-repeat="schedule in group.schedules" class="css-table-cell">
				{{schedule.course_name}}
			</div>
		</div>
	
		<div ng-repeat="user in group.users" class="css-table-row">
			<div>{{user.name}}</div>
			<div ng-repeat="schedule in group.schedules" class="css-table-cell">
				<input type="checkbox">
				<input type="checkbox">
				<input type="checkbox">
			</div>
		</div>
	</div>
</div>
