<div class="learning-groups">
	<div ng-repeat="group in schedule_groups" class="section">
	  <div class="css-table odd-even">
	    <div class="css-table-row header">
	      <div ng-if="group.schedules" class="css-table-cell name-field"></div>
	      <div ng-repeat="schedule in group.schedules" ng-if="schedule.course_id"
	          class="css-table-cell">
	        {{group.courses[schedule.course_id].name}}
	      </div>
	    </div>
	    <div ng-repeat="user in users" class="css-table-row">
	      <div class="css-table-cell name-field">{{user.name}}</div>
	      <div ng-repeat="schedule in group.schedules" ng-if="schedule.course_id"
	          class="css-table-cell">
	        <div ng-switch="attendence">
	          <div ng-switch-when="true">
	            <select ng-options="attendOptions[value] for value in [0, 1, 2]"
	                ng-model="user.records[schedule.course_id].attended"
	                ng-change="reportTask(user, schedule.course_id)">
	            </select>
	          </div>
	          <div ng-switch-default>
	            <input type="checkbox" ng-model="user.records[schedule.course_id].video" title="听传承"
	              ng-click="reportTask(user, schedule.course_id)">
	            <input type="checkbox" ng-model="user.records[schedule.course_id].text" title="读法本"
	              ng-click="reportTask(user, schedule.course_id)">
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
