<div class="padded-element">
  <label>
    选择一项任务：
    <select ng-options="value.name for value in tasks" ng-model="selectedTask">
    </select>
  </label>
</div>
<div class="css-table task-stats">
  <div class="css-table-row">
    <div class="css-table-cell">姓名</div>
    <div class="css-table-cell">进度</div>
    <div class="css-table-cell">数目</div>
  </div>
  <div ng-repeat="user in task_stats" class="css-table-row">
    <div class="css-table-cell">{{user.name}}</div>
    <div class="css-table-cell">
      <progress-bar value="{{user.lastRecord.sum}}" max="{{selectedTask.max}}" class="task-stats">
      <progress-bar>
    </div>
    <div class="css-table-cell">{{user.lastRecord.sum}}</div>
  </div>
</div>