<link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
<paper-dialog id="confirm-graduate">
  <h2>确认毕业</h2>
  <div class="padded-element">
    <input type="checkbox" ng-model="classInfo.graduated">标记本班为“已毕业”
  </div>
  请选择需要注册新账户的学生
  <div class="css-table">
    <div class="css-table-row">
      <label class="css-table-cell">
        <input type="checkbox" ng-model="allChecked" ng-click="toggleSelection()">全选
      </label>
      <div class="css-table-cell">姓名</div>
      <div class="css-table-cell">email</div>
      <div class="css-table-cell">毕业后email</div>
      <div class="css-table-cell">升学到班级</div>
      <div class="css-table-cell"></div>
    </div>
    <div ng-repeat="user in classInfo.users" class="css-table-row">
      <div class="css-table-cell">
        <input type="checkbox" ng-model="user.selected">
      </div>
      <div class="css-table-cell">{{user.name}}</div>
      <div class="css-table-cell">{{user.email}}</div>
      <div class="css-table-cell">{{user.newEmail}}</div>
      <div class="css-table-cell">
        <classes class-id="user.newClassId"></classes>
      </div>
      <div class="css-table-cell">
        <input type="button" value="班级同上" ng-show="$index > 0"
            ng-click="setClassId(user, $index)">
      </div>
    </div>
  </div>
  <paper-button dialog-dismiss raised autofocus>Cancel</paper-button>
  <paper-button dialog-confirm raised autofocus ng-click="graduate()">OK</paper-button>
</paper-dialog>