<div ng-repeat="group in schedule_groups" class="padded-element">
  <div class="center"><h2>{{group.name}}</h2></div>
  <div class="css-table odd-even schedule-tasks">
    <div class="css-table-row header">
      <div class="css-table-cell"><strong>周数</strong></div>
      <div class="css-table-cell"><strong>时间</strong></div>
      <div class="css-table-cell"><strong>上课内容</strong></div>
      <div class="css-table-cell"><strong>总结</strong></div>
      <div class="css-table-cell"><strong>串讲</strong></div>
    </div>
  
    <div ng-repeat="schedule in group.schedules" class="css-table-row"
        ng-class="{'vacation': !schedule.course_id}">
      <div class="css-table-cell">{{$index + 1}}</div>
      <div class="css-table-cell">{{schedule.dt}}</div>
      <div class="css-table-cell">{{schedule.course_name}}</div>
      <div class="css-table-cell">
        <user-picker ng-if="schedule.course_id" user-id="schedule.review" users="users"
            user-picked="update(schedule, 'review', userId)">
        </user-picker>
      </div>
      <div class="css-table-cell">
        <user-picker ng-if="schedule.course_id" user-id="schedule.open" users="users"
            user-picked="update(schedule, 'open', userId)">
        </user-picker>
      </div>
    </div>
  </div>
</div>
