<link rel="import" href="bower_components/iron-icons/editor-icons.html">

<navigate-bar class="right padded-element" navigate="navigate(direction)">
</navigate-bar>
<iron-icon icon="add-circle" class="add-icon clickable"
    ng-click="addTerm()"
    ng-dblclick="addTerm(true)" title="新建学修安排">
</iron-icon>
<div ng-repeat="group in schedule_groups" class="padded-element">
  <div class="center">
    <h2>第{{group.term || '?'}}学期</h2>
    <div ng-switch="!!group.end_time" class="inline">
      <div class="inline" ng-switch-when="false">
        <iron-icon icon="icons:delete" title="删除" ng-click="removeGroup(group)"
            class="selectable" ng-if="group.id">
        </iron-icon>
        <span ng-if="group.term">
          最早上报时间{{getEndTime(group)}}，
          截止报数时间{{getReportCutTime(group)}} 
        </span>
      </div>
      <span ng-switch-default>已上报于{{toDateTime(group.end_time)}}</span>
    </div>
  </div>
  <label>开始时间：<input type="date" ng-model="group.start_time" timestamp
      ng-disabled="!canWrite()"
      ng-change="markDirty(group)"></label>
  <label>中期报数：第<input type="number" max="26" min="1"
      ng-model="group.mid_week"
      ng-disabled="!canWrite()"
      ng-change="markDirty(group)">周</label>

  <paper-button ng-click="loadSchedules(term)" ng-disabled="!group.dirty" raised dismissive>
    Cancel
  </paper-button>
  <paper-button ng-click="saveGroup(group)" ng-disabled="!group.dirty" raised affirmative>
    Save
  </paper-button>
  <paper-button ng-click="copy(term)" ng-if="!group.id" raised dismissive>
    Copy from another class...
  </paper-button>
  <span ng-if="isSafari">(暂不支持Safari，请使用Chrome编辑学修记录)</span>
  <div class="css-table odd-even schedule-tasks" ng-class="{'busy': sending}">
    <div class="css-table-row header">
      <div class="css-table-cell">
        <iron-icon icon="add-circle" class="clickable" ng-click="append(group)"
            title="添加">
        </iron-icon>
        <strong>周数</strong>
      </div>
      <div class="css-table-cell"><strong>时间</strong></div>
      <div class="css-table-cell"><strong>课程1</strong></div>
      <div class="css-table-cell"><strong>课程2</strong></div>
      <div class="css-table-cell"><strong>串讲1</strong></div>
      <div class="css-table-cell"><strong>串讲2</strong></div>
      <div class="css-table-cell"><strong>计划带课辅导员</strong></div>
      <div class="css-table-cell"><strong>实际带课辅导员</strong></div>
      <div class="css-table-cell"><strong>备注</strong></div>
      <div class="css-table-cell"></div>
    </div>

    <div ng-repeat="schedule in group.schedules"
        class="css-table-row"
        id="{{schedule.id}}"
        ng-class="{'vacation': vacation(schedule),
            'report-week': schedule.middle}"
        title="{{schedule.middle ? '中期报数开始啦！' : ''}}"
        draggable="{{vacation(schedule) && !!group.id}}"
        ondragstart="dragSchedule(event)"
        ondrop="dropSchedule(event)"
        ondragover="allowDrop(event)">
      <div class="css-table-cell">{{$index + 1}}</div>
      <div class="css-table-cell">{{getWeeklyTime(group, $index)}}</div>
      <div class="css-table-cell">
        <paper-auto-suggest-input
            key="schedule.course_id"
            label="courseInput"
            search="searchCourse"
            editable="canWrite()"
            on-change="markDirty(group)">
        </paper-auto-suggest-input>
      </div>
      <div class="css-table-cell">
        <paper-auto-suggest-input
            key="schedule.course_id2"
            label="courseInput"
            search="searchCourse"
            editable="canWrite()"
            on-change="markDirty(group)">
        </paper-auto-suggest-input>
      </div>
      <div class="css-table-cell">
        <user-picker ng-if="!vacation(schedule)" user-id="schedule.review"
            user-list="users" user-picked="markDirty(group)">
        </user-picker>
      </div>
      <div class="css-table-cell">
        <user-picker ng-if="!vacation(schedule)" user-id="schedule.open"
            user-list="users" user-picked="markDirty(group)">
        </user-picker>
      </div>
      <div class="css-table-cell">
        <paper-auto-suggest-input
          ng-if="!vacation(schedule)"
          key="schedule.teacher_planned"
          hints="teachers"
          label="userInput"
          editable="canWrite()"
          search="searchUser"
          class="user-label"
          on-change="markDirty(group)">
        </paper-auto-suggest-input>
      </div>
      <div class="css-table-cell">
        <paper-auto-suggest-input
            ng-if="!vacation(schedule)"
            key="schedule.teacher"
            hints="teachers"
            label="userInput"
            editable="canWrite()"
            search="searchUser"
            class="user-label"
            on-change="markDirty(group)">
        </paper-auto-suggest-input>
      </div>
      <div class="css-table-cell">
        <paper-input ng-model="schedule.notes"
            class="schedule-notes"
            ng-change="markDirty(group)"
            ng-disabled="!canWrite()"
            no-label-float>
        </paper-input>
      </div>
      <div class="css-table-cell hover-icon-container">
        <div class="hover-icons">
          <iron-icon icon="add" title="在本节课后面添加假期"
              ng-click="add(group, schedule.id, $index)">
          </iron-icon>
          <iron-icon icon="delete" title="删除"
              ng-click="remove(group, schedule.id)">
          </iron-icon>
          <iron-icon icon="mail"
              ng-if="false && !vacation(schedule)"
              ng-click="notify(group, schedule, $index)"
              title="{{schedule.notified ? '上次发送' + schedule.notified : '发送上课通知'}}">
          </iron-icon>
        </div>
      </div>
      <div ng-if="schedule.middle" class="report-alert vacation"
          title="修改上面中期报数时间，可调整报数周位置">
        <iron-icon icon="report"></iron-icon>本周以后报数
      </div>
    </div>
  </div>
  <h2>限制性课程</h2>
  <course-groups group-id="group.limited_course_group"
    class="inline"
    dep="classInfo.department_id"
    on-change="limitedCourseChanged(group, courses, userInitiated)"
    limit="true">
  </course-groups>
  <div class="css-table odd-even schedule-tasks">
    <div ng-repeat="course in group.limited_courses" class="css-table-row">
      <div class="css-table-cell">{{course.name}}</div>
    </div>
  </div>
</div>
<task-arrangements ng-if="isYearLeader() || isDistrictAdmin()" class-id="classId">
</task-arrangements>
