<link rel="import" href="bower_components/iron-icons/editor-icons.html">
<div ng-repeat="group in schedule_groups" class="padded-element">
  <div class="center">
    <h2>{{group.name}}</h2>
    <iron-icon icon="editor:border-color" title="编辑" ng-click="editGroup(group)">
    </iron-icon>
    <iron-icon icon="icons:delete" title="删除" ng-click="removeGroup(group)">
    </iron-icon>
    <iron-icon icon="icons:add" title="添加" ng-click="addGroup()">
    </iron-icon>
  </div>
  <div ng-show="group.editing" class="section group-editing padded-element">
    <div>课程：
      <course-editor group-id="group.course_group" class="inline"
          on-change="courseGroupChanged(group)">
      </course-editor>
    </div>
    <div>名称：<editable-label value="group.name"></editable-label></div>
    <div>开始时间：<editable-label type="datetime" value="group.start_time"></editable-label></div>
    <input type="button" value="Cancel" ng-click="cancelEditing(group)">
    <input type="submit" value="Save" ng-click="saveGroup(group)">
  </div>
  <div class="css-table odd-even schedule-tasks">
    <div class="css-table-row header">
      <div class="css-table-cell"><strong>周数</strong></div>
      <div class="css-table-cell"><strong>时间</strong></div>
      <div class="css-table-cell"><strong>上课内容</strong></div>
      <div class="css-table-cell"><strong>总结</strong></div>
      <div class="css-table-cell"><strong>串讲</strong></div>
    </div>
  
    <div ng-repeat="schedule in group.schedules" class="css-table-row"
        ng-class="{'vacation': !schedule.course_id}">
      <div class="css-table-cell">{{$index + 1}}</div>
      <div class="css-table-cell">{{getWeeklyTime(group, $index)}}</div>
      <div class="css-table-cell">{{group.courses[schedule.course_id].name}}</div>
      <div class="css-table-cell">
        <user-picker ng-if="schedule.course_id" user-id="schedule.review" user-list="users"
            user-picked="update(schedule, 'review', userId)">
        </user-picker>
      </div>
      <div class="css-table-cell">
        <user-picker ng-if="schedule.course_id" user-id="schedule.open" user-list="users"
            user-picked="update(schedule, 'open', userId)">
        </user-picker>
      </div>
    </div>
  </div>
</div>
