<div class="flex" ng-if="isNotEmpty">
	<div class="css-table section odd-even">
		<div class="css-table-row header">
			<div class="css-table-cell"><strong>姓名</strong></div>
			<div class="css-table-cell"><strong>性别</strong></div>
			<div class="css-table-cell"><strong>电子邮件</strong></div>
      <div class="css-table-cell"><strong>电话</strong></div>
      <div class="css-table-cell"></div>
		</div>
		<div ng-repeat="user in users" class="css-table-row selectable" ng-click="showInfo(user)"
		    ng-class=
		    "{'selected': editingUser && editingUser.id == user.id, 'admin': isAdmin(user)}">
			<div class="css-table-cell">{{user.name}}</div>
			<div class="css-table-cell">{{user.sex == '1' ? '男' : '女'}}</div>
			<div class="css-table-cell">{{user.email}}</div>
			<div class="css-table-cell"><strong>{{user.phone}}</strong></div>
      <div class="css-table-cell">
		    <iron-icon icon="icons:delete" title="删除" ng-click="remove(user)" class="selectable">
		    </iron-icon>
      </div>
		</div>
	</div>
  <user-editor ng-if="editingUser" user="editingUser" class="padded-element"></user-editor>
</div>
