<div class="center padded-element">
	<select ng-options="year for year in years" ng-model="year" ng-update="yearChanged()">
	</select>
</div>
<div ng-switch="listType">
	<div ng-switch-when="list" class="padded-element">
		<div ng-repeat="classInfo in classes" class="selectable">
			<div ng-click="selected(classInfo.id)" class="padded-element class-name"
					ng-class="{'selected': selectedId == classInfo.id}">
				{{classInfo.name}}
			</div>
		</div>
	</div>
	<div ng-switch-default>
		<select>
			<option ng-repeat="classInfo in classes" value="{{classInfo.id}}">{{classInfo.name}}</option>
		</select>
	</div>
</div>
