<div ng-switch="listType">
	<div ng-switch-when="list" class="padded-element class-list">
		<div class="center padded-element">
		  <select ng-options="year for year in years" ng-model="year" ng-update="yearChanged()">
		  </select>
		</div>
		<div ng-repeat="classInfo in classes" class="selectable">
			<div ng-click="selected(classInfo)" class="padded-element class-name"
					ng-class="{'selected': selectedClass.id == classInfo.id}">
				{{classInfo.name}}
			</div>
		</div>
	</div>
	<div ng-switch-default>
     <select ng-options="year for year in years" ng-model="year" ng-update="yearChanged()">
     </select>
		<select ng-options="value.name for value in classes" ng-model="selectedClass"
		    ng-change="selected(selectedClass)">
		</select>
	</div>
</div>
