<div class="flex">
  <div class="section">
    <div>
      {{departments[classInfo.department_id].name}}第{{classInfo.term}}学期书单
      <iron-icon icon="delete" class="clickable inline" ng-click="clear()"
          title="清空书单列表，以便重新选取（适用于建立短书单）">
      </iron-icon>
      <iron-icon class="clickable" icon="cloud-download" title="导出三个月内订单汇总"
          ng-click="export()">
      </iron-icon>
      <a ng-if="classInfo.stats" href="{{classInfo.stats}}"
          download="{{classInfo.name}}.txt">
        {{classInfo.name}}.txt
      </a>
    </div>
    <div class="css-table odd-even class-book-list">
      <div class="css-table-row header">
        <div class="css-table-cell">书名</div>
        <div class="css-table-cell">价格</div>
        <div class="css-table-cell">运费</div>
        <div class="css-table-cell">总价</div>
        <div class="css-table-cell">库存</div>
        <div class="css-table-cell"></div>
      </div>
      <div ng-repeat="(id, book) in classInfo.books"
          class="css-table-row deletable">
        <div class="css-table-cell">{{book.name}}</div>
        <div class="css-table-cell">{{book.price.toFixed(2)}}</div>
        <div class="css-table-cell">{{book.shipping.toFixed(2)}}</div>
        <div class="css-table-cell">{{(book.price + book.shipping).toFixed(2)}}</div>
        <div class="css-table-cell">{{book.stock}}</div>
        <div class="css-table-cell">
          <iron-icon icon="delete" class="delete-button"
              ng-click="removeItem(id)">
          </iron-icon>
        </div>
      </div>
    </div>
    <div class="padded-element right">
      <iron-icon icon="add" class="clickable" ng-click="classInfo.adding = true"
          title="添加法本..." ng-show="!classInfo.adding">
      </iron-icon>
      <input type="button" value="取消" ng-click="restore()"
          ng-disabled="!dirty">
      <input type="submit" value="保存" ng-click="save()"
          ng-disabled="!dirty">
    </div>
  </div>
  <iron-icon icon="arrow-back" ng-click="addSelectedBooks()" class="clickable"
      title="将所选法本加入班级书单" ng-if="classInfo.adding">
  </iron-icon>
  <div class="padded-element" ng-if="classInfo.adding">
    <select multiple="true" class="book-selection">
      <option ng-repeat="item in items" value="{{item.id}}"
          ng-click="classInfo.editingBook = item" ng-if="!classInfo.books[item.id]">
        {{item.name}}
      </option>
    </select>
    <iron-icon icon="add" class="clickable" ng-click="classInfo.editingBook = {}"
        title="新建法本...">
    </iron-icon>
    <book-editor ng-if="classInfo.editingBook != null" book="classInfo.editingBook"
        items="items" categories="categories"
        on-cancel="classInfo.editingBook = null">
    </book-editor>
  </div>
</div>
