<div class="header">
  <div>{{getBookListName()}}</div>
  <departments department-id="bookList.department_id"></departments>
  <label>学期: <input type="number" ng-model="bookList.term"></label>
  <paper-fab icon="add" class="add-book clickable" ng-click="add()"></paper-fab>
  <div class="css-table">
    <div class="css-table-row header">
      <div class="css-table-cell">书名</div>
      <div class="css-table-cell">价格</div>
      <div class="css-table-cell">国际运费</div>
      <div class="css-table-cell"></div>
    </div>
    <div ng-repeat="book in bookList.books" class="css-table-row deletable">
      <div class="css-table-cell">{{book.name}}</div>
      <div class="css-table-cell">{{book.price}}</div>
      <div class="css-table-cell">{{book.int_price}}</div>
      <div class="css-table-cell">
        <iron-icon icon="delete" class="delete-button" ng-click="remove(book)">
        </iron-icon>
      </div>
    </div>
  </div>
  <input type="button" value="Cancel" ng-click="cancel()" ng-disabled="!isDirty()"> 
  <input type="submit" value="Save" ng-click="save()" ng-disabled="!isDirty()"> 
</div>
