<link rel="import" href="bower_components/paper-progress/paper-progress.html">
<div ng-repeat="task in tasks" class="padded-element">
  <div class="task">
    <div class="header section-header">{{task.name}}</div>
    <div ng-switch="task.lastRecord.sum > 0">
      <div ng-switch-when="true">
        <div>累计报数：{{task.lastRecord.sum}}</div>
        <div>上次报数：{{task.lastRecord.count}}</div>
        <div>（{{task.lastRecord.ts}}）</div>
        <progress-bar value="{{task.lastRecord.sum}}" max="{{task.max}}" class="task-progress">
        <progress-bar>
      </div>
      <div ng-switch-default>暂时没有学修记录。</div>
    </div>
  
    <input class="count-input" type="number" name="count" id="count_{{task.id}}" required>
    <input type="button" value="报数" ng-click="reportTask(task)">
    <div ng-if="error != null">{{error}}</div>
  </div>
</div>
