<div ng-repeat="task in tasks">
	<div class="padded-element">
		<div class="header section-header">{{task.name}}</div>
		<div ng-switch="task.lastRecord.sum">
			<div ng-switch-when="0">暂时没有学修记录。</div>
			<div ng-switch-default>	
				<div>累计报数：{{task.lastRecord.sum}}</div>
				<div>上次报数：{{task.lastRecord.count}}</div>
				<div>（{{task.lastRecord.ts}}）</div>
			</div>
		</div>
	
		<input class="count-input" type="number" name="count" id="count_{{task.id}}" required>
		<input type="button" value="报数" ng-click="reportTask(task)">
		<div ng-if="error != null">{{error}}</div>
	</div>
</div>
