<div ng-if="confirming && !order">
  <h2>确认收货地址和联系方式</h2>
  <hr>
  <div class="css-table">
    <div class="css-table-row" hidden>
      <label class="css-table-cell address-column">
        <input type="radio" name="localGroup" ng-change="updateShipMethod(ME)"
            ng-model="shipTo" value="{{ME}}">
        邮寄到我的地址
      </label>

      <label class="css-table-cell">
        <input type="radio" name="localGroup" ng-change="updateShipMethod(GROUP)"
            ng-model="shipTo" value="{{GROUP}}" disabled>
        邮寄到我所在的地方组(暂不开放)
      </label>

      <label class="css-table-cell">
        <input type="radio" name="localGroup" ng-change="updateShipMethod(PICKUP)"
            ng-model="shipTo" value="{{PICKUP}}">
        自己到地方组领取(免运费)
      </label>
    </div>
    <div class="css-table-row">
      <div class="padded-element css-table-cell">
        <address-editor user="user" with-contact="true"></address-editor>
      </div>
      <div class="css-table-cell">
        <districts user="user" hidden></districts>
      </div>
      <div class="css-table-cell">
        <districts user="user" editable="shipTo == PICKUP" stock="true" hidden>
        </districts>
      </div>
    </div>
    <div class="css-table-row">
      <div class="padded-element css-table-cell">
        <label>
          <input type="checkbox" ng-model="addrEditor.editing"
              ng-disabled="shipTo != ME">
          修改地址
        </label>
        <div ng-show="addrEditor.editing && shipTo == ME"
            class="padded-element">
          <address-editor editing="true" user="user" with-contact="true">
          </address-editor>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="cart.size">
  <div class="css-table shopping-cart-list">
    <div class="css-table-row">
      <div class="css-table-cell"></div>
      <div class="css-table-cell"></div>
      <div class="css-table-cell">单价</div>
      <div class="css-table-cell">运费</div>
      <div class="css-table-cell">数量</div>
      <div class="css-table-cell"></div>
    </div>
    <div ng-repeat="item in cart.items" class="css-table-row top-border deletable">
      <div class="css-table-cell">
        <img src="{{item.image}}" class="item-image small">
      </div>
      <div class="css-table-cell">
        <h3>{{item.name}}</h3> by {{item.producer}}
      </div>
      <div class="css-table-cell">${{item.price}}</div>
      <div class="css-table-cell">${{shipTo == PICKUP ? '0.00' : item.shipping}}</div>
      <div class="css-table-cell">
        <input type="number" min="1" ng-model="item.count" ng-change="cart.update()">
      </div>
      <div class="css-table-cell">
        <iron-icon icon="delete" ng-click="cart.remove(item.id)" class="delete-button"
            title="删除">
        </iron-icon>
      </div>
    </div>
  </div>
  <hr>
  <div class="right padded-element">
    <div class="center-align flex">
      <div class="h-padded-element">
        <label>
          <input type="checkbox" ng-model="showDonation">
          我想随喜运费基金
        </label>
        <label ng-show="showDonation">
          随喜金额: <input type="number" min="0.00" step="0.01"
              ng-model="cart.shipping_donation"
              ng-change="cart.update()">
        </label>
      </div>
      <div class="h-padded-element">
        总价 ({{cart.size}} items): ${{cart.subTotal}}
      </div>
      <!--
      <div class="h-padded-element">
        国际运费: ${{cart.int_shipping}}
      </div>
      -->
      <div class="h-padded-element">
        运费: ${{cart.shipping}}
      </div>
      <div class="yellow-button check-out-button center-align" ng-click="checkOut(true)">
        {{confirming ? '提交订单，在线付款' : '结账'}}
      </div>
    </div>
  </div>
</div>
<payment ng-if="order" order="order" on-paid="updateOrder()"
    class="in-shopping-cart">
</payment>
