<div class="section group-editing padded-element">
  <div>课程：
    <course-groups group-id="group.course_group" class="inline"
        on-change="courseGroupChanged(courses)">
    </course-groups>
  </div>
  <div>
    名称：<editable-label value="group.name"></editable-label>
    总第<select ng-options="value for value in terms" ng-model="group.term"></select>学期
  </div>
  <div>开始时间：<editable-label type="datetime" value="group.start_time"></editable-label></div>
  <div>限制性课程：
    <course-groups group-id="group.limited_course_group" class="inline"
        on-change="limitedGroupChange(courses)">
    </course-groups>
  </div>
  <input type="button" value="Cancel" ng-click="onCancel()">
  <input type="submit" value="Save" ng-click="saveGroup(group)">
</div>
