<div class="section group-editing padded-element">
  <div>课程：
    <course-groups group-id="group.course_group" class="inline"
        on-change="courseGroupChanged(courses)">
    </course-groups>
  </div>
  <div>名称：<editable-label value="group.name"></editable-label></div>
  <div>开始时间：<editable-label type="datetime" value="group.start_time"></editable-label></div>
  <input type="button" value="Cancel" ng-click="onCancel()">
  <input type="submit" value="Save" ng-click="saveGroup(group)">
</div>
