<h1>{{election.name}}候选人</h1>
<iron-icon icon="add-circle" class="add-icon clickable"
    ng-click="create()" title="新建候选人..."
    ng-show="editable && election">
</iron-icon>
<vote-mail ng-if="editable && election.candidates.length"
    election="election">
</vote-mail>
<span ng-if="!editable && !inEmail">
  您还剩{{election.max_vote - election.voted}}张选票。
</span>

<table class="odd-even" style="width:100%;" ng-if="election.candidates.length">
  <tr style="background-color: gray;color: white;">
    <td>候选人姓名</td>
    <td>照片</td>
    <td>简介</td>
    <td></td>
  </tr>
  <tr ng-repeat="candidate in election.candidates | filter: {deleted: false, 
      district: district}" class="deletable">
    <td ng-switch="editable" style="min-width:100px">
      <div ng-switch-when="true">
        <paper-user-input user-id="candidate.user"
            on-change="markDirty(candidate)"
            editable="isVoteOwner() && editable">
        </paper-user-input>
        <div ng-if="!candidate.user" class="error">姓名不能为空</div>
        <paper-input ng-model="candidate.slogan"
            ng-change="markDirty(candidate)"
            placeholder="输入竞选口号..." ng-disabled="!editable"  label="竞选口号">
        </paper-input>
      </div>
      <div ng-switch-default>
        <h2>{{candidate.name}}</h2>
        <strong>{{candidate.slogan}}</strong>
      </div>
      <districts user="candidate" style="padding: 16px"></districts>
    </td>
    <td>
      <a ng-if="candidate.profile" href="{{candidate.profile}}">
        <img ng-if="candidate.profile" src={{candidate.profile}}
            style="cursor: pointer;
            display: block;
            max-height: 200px;
            max-width: 150px;
            overflow: hidden;
            text-align: center;
          ">
      </a>
      <div ng-if="editable">
        <label>点击上传候选人照片...<br>
          <input type="file" ng-upload-change="uploadImage($event, candidate)">
        </label>
      </div>
    </td>
    <td ng-switch="editable" style="font-size: 1.1em;">
      <textarea ng-switch-when="true" ng-model="candidate.description" rows="6"
          ng-change="markDirty(candidate)" style="border: none;width:92%;padding:4px"
          placeholder="输入候选人简介..." ng-disabled="!editable">
      </textarea>
      <span ng-switch-default>{{candidate.description}}</span>
    </td>
    <td class="clickable vote-actions" ng-switch="editable" style="width: 150px">
      <iron-icon icon="delete" title="删除..." ng-click="remove(candidate)"
          class="delete-button" ng-switch-when="true">
      </iron-icon>
      <div ng-switch-default ng-switch="candidate.voted">
        <iron-icon icon="check-box" class="voted" title="您已经投过票了，感谢"
            ng-switch-when="true">
        </iron-icon>
        <div ng-switch-default ng-switch="inEmail">
          <a ng-switch-when="true" class="vote-link"
              href="php/election.php?rid=email_vote&candidate={{candidate.id}}">
            投票
          </a>
          <paper-button ng-switch-default ng-click="vote(candidate)" raised>
            <img src="images/vote.png">
            <span style="padding: 16px">投票</span>
          </paper-button>
        </div>
      </div>
    </td>
  </tr>
</table>
